/* Apply some styles to the header section */
body {
  overflow-x: hidden;
}


.hero {
    background-color: #333;
    color: white;
    padding: 100px 0;
    text-align: center;
}

/*.nav-link {
  transform: translateX(355px);
}*/

.logo-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: black;
  margin-top: 35px;
  border-radius: 25px;
}
/*.hero2 {
  padding-bottom: 10px;
}*/

.project-1 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.project-2 {
  padding-bottom: 25px;
}

.project-3 {
  padding-bottom: 25px;
}

.project-4 {
  padding-bottom: 25px;
}

.project-5 {
  padding-bottom: 25px;
}

/* Style the about section */
.about {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

*, *:before, *:after {
    box-sizing: inherit;
  }
  
.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }

  
.container {
    padding: 0 16px;
  }
  
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
.title {
    color: rgb(8, 0, 0);
  }

.passage {
    color: rgb(8, 0, 0)
}

.btn-group > .btn-secondary {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    /*background-color: #000;*/
    text-align: center;
    cursor: pointer;
    /*width: 100%;*/
    width: 10%;
    transition: translateX(-10px);
  }

/*.button3 {border-radius: 8px;}*/
  
.button:hover {
    background-color: #555;
  }

  /* Media query for max-width: 650px */
  @media (max-width: 650px) {
    /* Style for replacing buttons with Font Awesome icons */
    .change-to-icon {
        display: inline-block;
        padding: 0;
        margin-right: 10px; /* Add spacing between icons */
        font-size: 24px; /* Adjust the icon size as needed */
    }
    .change-to-icon:hover {
        color: #eeeff0; /* Change color on hover if needed */
    }
    .btn-text {
        display: none; /* Hide the button text */
    }
}

@media (min-width: 650px) {
  i {
    display: none !important; 
  }
}
  
@media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }

    /*ul.nav {
      text-align: center;
      margin: 0 auto;
      display: block;
      width: 100%;
      padding: 0;
    }

    li.nav-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }*/

  }

  @media (max-width: 650px){

    .nav-item {
      justify-content: center;
    }
    .nav-link {
      justify-content: center;
    }
  }

  ul {
      text-align: center;
      margin: 0 auto;
      display: block;
      /*width: 100%;*/
      padding: 0;
    }

/*@media (max-width: 9999px) {
  .navbar-toggler {
    display: block !important;
  }
}*/

/* Style the footer section*/
.footer {
    text-align: center;
}

/* Style the carousel section */
.carousel img {
    width: 100%;
    height: 300px; /* Adjust the height as needed */
}

/* Zoom for the carousel section */
* {box-sizing: border-box;}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
  
}