{% extends 'base.html' %}

{%block content%}
    <header class="hero">
        <div class="container">
            <h1>Welcome to My Portfolio</h1>
        </div>
    </header>
    <section class="about">
        <div class="container">
            <h2>About Me</h2>
            <div class="row">
                    <div class="card">
                        <div class="container">
                            <h5>Christopher Brunswick</h5>
                            <strong><p class="title">Statistician/Data Scientist</p></strong>
                            <p class="passage">Result-driven Data Science Professional with a BS in Applied Mathematics, an MS 
                                in Data Science and experience in advanced statistical analysis, data management, and software development. I am passionate about 
                                data and its potential to impact business decisions. I am excited to leverage 
                                my skills to help organizations achieve their objectives. 
                            </p>
                            <p class="text-center">
                                <div class="container">
                                    <div class="btn-group" role="group">
                                        <p><button type="button" class="btn change-to-icon btn-secondary mx-auto" onclick="document.location='https://www.github.com/christopherbrunswick'"><i class="fa-brands fa-github"></i><span class="btn-text">Github</span></button></p>
                                        <p><button type="button" class="btn change-to-icon btn-secondary mx-auto" onclick="document.location='https://www.linkedin.com/in/christopher-brunswick-231001116/'"><i class="fa-brands fa-linkedin"></i><span class="btn-text">LinkedIn</span></button></p>
                                        <p><button type="button" class="btn change-to-icon btn-secondary mx-auto" onclick="document.location='mailto:cbruns34@gmail.com'"><i class="fa-regular fa-envelope"></i><span class="btn-text">Email</span></button></p>
                                    </div>
                                </div>
                            </p>
                        </div>    
                    </div>
                </div>   
            </div>
        </div>
    </section>
{% endblock %}