{% extends 'base.html' %}

{%block content%}
    <header class="hero">
        <div class="container">
            <h1>Welcome to My Portfolio</h1>
            <!--<p class="lead">This is a sample index page for your Flask application.</p>-->
        </div>
    </header>

    <!-- ABOUT -->
    <section class="about">
        <div class="container">
            <h2>About Me</h2>
            <div class="row">
                <!--<div class="column">-->
                    <div class="card">
                        <img class="logo-center" src="{{ url_for('static', filename='images/tmle.png') }}" alt="Christopher Brunswick" style="width:50%;">
                        <div class="container">
                            <h5>Christopher Brunswick</h5>
                            <strong><p class="title">Data Scientist/Machine Learning Engineer/Flask (Python) Developer</p></strong>
                            <p class="passage">Result-driven Data Science Professional with a background in Applied Mathematics, an MS 
                                in Data Science and experience in data analysis, 
                                hands-on machine learning/computer vision, and predictive modeling. I am passionate about 
                                data and its potential to impact business decisions. I am excited to leverage 
                                my skills in data science to help an data-driven experience as a Data Scientist. 
                                My skillset includes expert knowledge of SQL, Tableau, Python, R, Probability, Statistics, 
                                Mathematics, and the ability to work in a cross-functional team.
                            </p>
                            <!--<p><a href="cbruns34@gmail.com"></a></p>-->
                            <p class="text-center">
                                <div class="container">
                                    <div class="btn-group" role="group">
                                        <p><button type="button" class="btn change-to-icon btn-secondary mx-auto" onclick="document.location='https://www.github.com/christopherbrunswick'"><i class="fa-brands fa-github"></i><span class="btn-text">Github</span></button></p>
                                        <p><button type="button" class="btn change-to-icon btn-secondary mx-auto" onclick="document.location='https://www.linkedin.com/in/christopher-brunswick-231001116/'"><i class="fa-brands fa-linkedin"></i><span class="btn-text">LinkedIn</span></button></p>
                                        <p><button type ="button" class="btn change-to-icon btn-secondary mx-auto" onclick="document.location='https://www.instagram.com/themlexpert_/'"><i class="fa-brands fa-instagram"></i><span class="btn-text">Instagram</span></button></p>
                                        <p><button type="button" class="btn change-to-icon btn-secondary mx-auto" onclick="document.location='mailto:cbruns34@gmail.com'"><i class="fa-regular fa-envelope"></i><span class="btn-text">Email</span></button></p>
                                    </div>
                                </div>
                            </p>
                        </div>    
                    </div>
                </div>   
                <!--</div>-->
            </div>
        </div>
    </section>

    <!-- CONTACT 
    <section class="contact">
        <div class="container">
            <h2>Contact Me</h2>
            <p>If you have any questions or inquiries, please don't hesitate to <a href="/contact">contact us</a>.</p>
        </div>
    </section>-->
{% endblock %}